@{
    ViewData["Title"] = "Index";
}

<h1>TP 04 - Paquetes  turisticos</h1>
<h2>bienvenido a ortworld paquetes turisticos para crear un paquete haga click en crear paquete:</h2>

<a href='@Url.Action("SelectPaquete")'> Crear paquete </a>

<h2>Paquetes Creados:</h2>


@if (ViewBag.h)
{
    

    @foreach(var i in ViewBag.paquetes) {
        <h5>@i.Key</h5>
        <img src="@Url.Content(i.Value.Aereo)"></img>
        <img src="@Url.Content(i.Value.Excursion)"></img>
        <img src="@Url.Content(i.Value.Hotel)"></img>
    }
}

