@{
    ViewData["Title"] = "Index";
}

<h1>TP 04 - Paquetes  turisticos</h1>
<h2>Bienvenido a ortworld paquetes turisticos para crear un paquete haga click en crear paquete:</h2>

<a href='@Url.Action("SelectPaquete")'> Crear paquete </a>

<h2>Paquetes Creados:</h2>


@if (ViewBag.h)
{
    

    @foreach(var i in ViewBag.paquetes) {
        <h4>@i.Key</h4>
        <img src="@Url.Content(i.Value.Aereo)" width="18%" height="auto" alt="Aerolinea"></img>
        <img src="@Url.Content(i.Value.Excursion)"width="18%" height="auto" alt="Excursion"></img>
        <img src="@Url.Content(i.Value.Hotel)"width="18%" height="auto" alt="Hotel"></img>
    }
}

