@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="@Url.Content("~/css/index.css")" asp-append-version="true" />

<h1>Bienvenido a ORTworld Paquetes Turisticos</h1>
<h2>Para crear un paquete haga click <a href='@Url.Action("SelectPaquete")'> aqui </a></h2>

<br>
<h2>Estos son los paquetes que ha creado:</h2>


@if (ViewBag.h)
{
    

    @foreach(var i in ViewBag.paquetes) {
        <div>
            <h4>Destino: @i.Key</h4>
            <h5 >Aerolinea:</h5>
            <img src="@Url.Content(i.Value.Aereo)" width="auto" height="auto" alt="Aerolinea"></img>
            <h5>Excursion:</h5>
            <img src="@Url.Content(i.Value.Excursion)"width="auto" height="auto" alt="Excursion"></img>
            <h5 >Hotel:</h5>
            <img src="@Url.Content(i.Value.Hotel)"width="auto" height="auto" alt="Hotel"></img>
        </div>
    }
}

