@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="@Url.Content("~/css/index.css")" asp-append-version="true" />

<h1>Bienvenido a<div class="ortworld">ORTworld</div> Paquetes Turisticos</h1>

<br>


@if (ViewBag.h)
{
    
<h2>Estos son los paquetes que ha creado:</h2>

    @foreach(var i in ViewBag.paquetes) {
        <section>
            <h4>Destino: @i.Key</h4>
            <div><h5>Aerolinea:</h5>
            <img src="@Url.Content(i.Value.Aereo)" width="100%" height="auto" alt="Aerolinea"></img></div>
            <div><h5>Excursion:</h5>
            <img src="@Url.Content(i.Value.Excursion)"width="100%" height="auto" alt="Excursion"></img></div>
            <div><h5 >Hotel:</h5>
            <img src="@Url.Content(i.Value.Hotel)"width="100%" height="auto" alt="Hotel"></img></div>
            <a href='@Url.Action("Borrarpaquete", new {destino=i.Key})' class="borrar" width="30px" height="auto">
            <div class="imagenes" width="30px" height="auto">
                    <img src=~/img/tachito-02.png width="30px" height="auto" class="tachocerrado">
                    <img src=~/img/tachito-01.png width="30px" height="auto" class="tachoabierto">
            </div>
            </a>
        </section>
        <br>
    }
}else{
    <h2>Aun no hay paquetes!</h2>
}

<a href='@Url.Action("SelectPaquete")' class="añadir">+</a>